<!DOCTYPE html>
<html>
<head>
<title>About Me|Portfolio Me</title>
</head>
<body>
<header class="header" id="header">
	<div class="container">
    	<figure>
        	<%= link_to image_tag("banner3.png", id: "imglogo") %>
        </figure>	
        <h1>Small things 'bout me</h1>
        
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				
					<%= image_tag("pp.jpg", id: "imgcir")%>
					<h2>Earl John Mapada</h2>
					<h2>BSIT-3</h2>
					<br>
					
			</div>
			<div class="col-md-8 col-xs-12">
				
					<h3>So HEY! I am Earl. Currently 3rd year student and taking IT. IT is love my man because technology is here. I want to innovate something to help everyone. Cheesy but true. Aside from helping others, I also want to be create games and my OWN O.S.. Also part of dream to speak and inspire others. Life is too short, inspire others the way you live my man. Oh boy, I also want to travel not because I wanted to but because of my job. See, I want to be called outside Philippines because of something that I've created or because of work. Its like hitting two birds in one stone. You get to travel and to impress other people about you.</h3>
					<br>
					<h3>So mayber you're thinking why "Polar bear"? Familiar of the show "We Bare Bears"? That's why I like polar bears or ICE BEARS. Aside from being the youngest (also me), its persona makes me want him. The way he act on that show inspired me to like ICE BEAR. Enough of that, how 'bout my current standing?</h3>	
					<br>
					<h3>I would like to say, 90 degrees, Joke. Hhhmmm, just your average Joe. All I want is to pass and I don't aim that high to avoid disappointment. I just work as hard as I can and learn as fast as I can and process that so I can apply it in my Life</h3>
			
		</div>	
	</div>	

            
    </div>
</header>
</body>
</html>

