<!DOCTYPE html>
<html>
<head>
<title>Home|Portfolio Me</title>
</head>
<body>
<header class="header" id="header">
	<div class="container">
    	<figure>
        	<%= link_to image_tag("banner1.jpg", id: "imglogo") %>
        </figure>	
        <h1>Welcome To EJM's Portfolio</h1>
        <ul>
        	<li><h3>Click Tabs above to know me MORE!</h3></li>
        </ul>
            
    </div>
</header>
</body>
</html>

